<div class="modal-header text-center">
    <h3 class="modal-title">Material</h3>
</div>


<div class="modal-body text-center">
    
    <span>Nr: 1230</span>
	<h3 style="font-family: myriad-set-pro-bold;">EPI Smartphone</h3>
	<br>
	<img src="Assets/img/artkel_details1.png" style="width:100%">
	<br><br>
	<div>
		
		<span style="color: #818181;font-family: myriad-set-pro-bold;">Preis</span><br>
		<span style="color: black;font-family: myriad-set-pro-bold;">46 € Tag / 460 € VK</span><br>
		<span>233 x 256 x 456 mm</span><br>
		<span>1,1 kg Gewicht</span><br>
		<span style="color: #818181;font-family: myriad-set-pro-bold;">Bestand Miete</span>&nbsp;<span style="color: #ff9c01;font-family: myriad-set-pro-bold;">466 Stück</span><br>
		<span style="color: #818181;font-family: myriad-set-pro-bold;">Bestand Verkauf</span>&nbsp;<span style="color: #ff9c01;font-family: myriad-set-pro-bold;">500 Stück</span>
		<div style="height:17px;"></div>
		<h4 style="font-family: myriad-set-pro-bold;">Artikelinformation</h4>
		<span>Das EPI Smartphone ermöglicht den schnellen Zugriff auf ein Wirtschaftssystem</span>
	</div>
        
</div>
<div class="modal-footer">
    <div class="row">
            <div class="col-xs-6 text-left">
                <button class="my-act-btn" ng-click="cancel()" >Abbrechen</button>
            </div>
            <div class="col-xs-6 text-right">
                <button class="my-act-btn" ng-click="ok()" >OK</button>
            </div>
    </div>
    
</div>
	