<div class="loginPage">
	<br>
	<img src="Assets/img/icons/epimobilelogo.png" style="height:90px;">
	<br><br><h3>Willkommen im epirent<span><img src="Assets/img/togo.png" style="height:40px;margin-bottom: 19px;"></span></h3>
	<div class="container" >
		<br>
		<div class="row">
			<div class="col-sm-4 col-xs-2"></div>
			<div class="col-sm-4 col-xs-8">
					
					<form name="form" ng-submit="logIn()" role="form" >
						<div class="form-group">
						
							<input type="text" name="username" id="username" placeholder="Username" class="form-control" ng-model="username" required/>
						</div>
						<div class="form-group">
							
							<input type="password" name="password" id="password" placeholder="Password" class="form-control" ng-model="password"  />
						</div>
						<br>
						<div class="form-actions">
							<button type="submit"  class="my-act-btn pointer" >Login</button>
						</div>
					</form>
			
			</div>
			
			<div class="col-sm-4 col-xs-2"></div>
		</div>	
	</div>
</div>


