<div class="modal-header text-center">
    <h3 class="modal-title">Impressum</h3>
</div> 
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 text-center">
            <!--<img src="Assets/img/epiLogo4.png">-->
            <img src="Assets/img/icons/epimobilelogo.png" class="img-responsive img-center" style="max-width: 50%">
            <br>
            EPI development<br>
            Langhansstr. 63<br>
            13086 Berlin<br>
            GERMANY<br>
            USt.-ID DE179716903<br>
            StNr: 35/368/61581<br>
            Vertreten durch: Frank Juling<br>
            Tel.: <a href="tel:00493047372720" >+49 (0)30 4737272-0</a><br>
            Fax: +49 (0)30 4737272-22<br>
            eMail: <a href="mailto:support@epi-dev.de" >support@epi-dev.de</a><br>
            Web: <a href="https://epi.rent" target="_blank">https://epi.rent</a>
        </div>
    </div> 
</div>
<div class="modal-footer">
    <div class="row">
            <div class="col-xs-12 text-center">
                <button class="my-act-btn" ng-click="ok()" >OK</button>
            </div>
    </div>
</div>
	
	

	