<div class="productPage">
	<!-- HEADER -->
	<header>
		<div class="container-fluid my-panel-header">
			<div class="row my-btn-group1" ng-include="'Components/Shared/panelHeader/index.html'"></div>
			<div class="row my-btn-group2" >
				<div class="col-xs-2 siteTitleTool disabled text-right"><span class="glyphicon glyphicon-pencil"></span> </div>
				<div class="col-xs-8 text-center siteTitle" >
					<span class="pointer siteTitle2" ng-click="services.searchNavigate.products(searchFilters)">Artikel</span>
				</div>
				<div class="col-xs-2 siteTitleTool disabled text-left"><span class="glyphicon glyphicon-plus"></span> </div>
			</div>
		</div>
	</header>
	<!-- HEADER END -->
	<main>
	<div class="container" >    
		<div class="row bodyRow" style="margin-top:22px">

			<div class="col-xs-12" ng-include="'Components/Shared/autocomplete/index.html'"></div>

		</div>
		<div style="height:21px"></div>
		<div class="btn-group my-btn-group">
			
				<button type="button" ng-disabled="readOnly" ng-class="{'btn my-group-btn my-group-btn-on auto-width': getProduct.is_rent, 'btn my-group-btn my-group-btn-off auto-width': !getProduct.is_rent}"  ng-click="setProductMode('rent')" >Miete</button>
				<button type="button" ng-disabled="readOnly" ng-class="{'btn my-group-btn my-group-btn-on auto-width': getProduct.is_sale, 'btn my-group-btn my-group-btn-off auto-width': !getProduct.is_sale}"  ng-click="setProductMode('sale')" >Verkauf</button>	
				<button type="button" ng-disabled="readOnly" ng-class="{'btn my-group-btn my-group-btn-on auto-width': getProduct.is_inventory, 'btn my-group-btn my-group-btn-off auto-width': !getProduct.is_inventory}"  ng-click="setProductMode('inventory')" >Inventar</button>
			
		</div>
		<br><br>
		<div ng-include="'Components/Shared/productDetails/index.html'"></div>

		<div style="height:43px;"></div>
		<div class="my-panel-acc">
			<uib-accordion close-others="false">
					
					<div uib-accordion-group is-open="acc_group1.open" ng-show="getProduct.materials.length">
						
							<uib-accordion-heading>
								
								<div class="row"  >
									
									<div class="col-xs-4 text-left"></span></div>
									<div class="col-xs-4 text-center panelHeader">Material</div>
									<div class="col-xs-4 text-right" >[{{getProduct.materials.length}}]&nbsp;&nbsp;<span ng-class="{'glyphicon glyphicon-chevron-down': acc_group1.open, 'glyphicon glyphicon-chevron-right': !acc_group1.open}"></span></div>
								
								</div>
								
							</uib-accordion-heading>
							

							<div class="text-left my-list" >
								
								
								<div class=" list-group-item row" ng-repeat="row in getProduct.materials" ng-click="popupMaterialDetails(row.mat_product_pk)">
									
											<div class="col-xs-4 text-left">{{row.amount}}</div>
											<div class="col-xs-4 text-center">{{row.name}}</div>
											<div class="col-xs-4"></div>
									
								</div>


								
							</div>

					</div>
					<div uib-accordion-group is-open="acc_group2.open" ng-show="getProduct.__orders.length">
							
								<uib-accordion-heading>
									
									<div class="row"  >
										
										<div class="col-xs-4 text-left"></div>
										<div class="col-xs-4 text-center panelHeader">Vorgänge</div>
										<div class="col-xs-4 text-right" >[{{getProduct.__orders.length}}]&nbsp;&nbsp;<span ng-class="{'glyphicon glyphicon-chevron-down': acc_group2.open, 'glyphicon glyphicon-chevron-right': !acc_group2.open}"></span></div>
									
									</div>
									
								</uib-accordion-heading>
								<div class="text-left my-list" >
										
									
									<!-- <div class="list-group-item row color-fda158" >
										
										<div class="col-xs-4 text-left">120834-01</div>
										<div class="col-xs-4 text-center">Flying Catering Event</div>
										<div class="col-xs-4"></div>

									</div>
									<div class="list-group-item row color-208700" >
										
										<div class="col-xs-4 text-left">120855-01</div>
										<div class="col-xs-4 text-center">Pusteblume Sound</div>
										<div class="col-xs-4"></div>
									</div>
									<div class="list-group-item row color-585fb7" >
											
										<div class="col-xs-4 text-left">160833-01</div>
										<div class="col-xs-4 text-center">ComiCon 2017</div>
										<div class="col-xs-4"></div>
									</div> -->
									
									<div class="list-group-item row" ng-repeat="row in getProduct.__orders | orderBy : 'order_no'" ng-click="services.tools.navigateTo(row._ref_order)">
											
											<div class="col-xs-4 text-left">{{row.order_no_fmt}}</div>
											<div class="col-xs-4 text-center">{{row.event}}</div>
											<div class="col-xs-4"></div>
									</div>
									
								</div>
							
							
						</div>
						<div uib-accordion-group is-open="acc_group3.open" ng-show="getProduct.supplier.length">
								
									<uib-accordion-heading>
										
										<div class="row"  >
											
											<div class="col-xs-4 text-left"></div>
											<div class="col-xs-4 text-center panelHeader">Lieferanten</div>
											<div class="col-xs-4 text-right" >[{{getProduct.supplier.length}}]&nbsp;&nbsp;<span ng-class="{'glyphicon glyphicon-chevron-down': acc_group3.open, 'glyphicon glyphicon-chevron-right': !acc_group3.open}"></span></div>
										
										</div>
										
									</uib-accordion-heading>
									<div class="text-left my-list" >
											
										<!--
										<div class="list-group-item row" ng-click="services.tools.navigateTo('contact/1')">
											
											<div class="col-xs-4 text-left">120834-01</div>
											<div class="col-xs-4 text-center">Flying Catering Event</div>
											<div class="col-xs-4"></div>
										</div>
										<div class="list-group-item row" ng-click="services.tools.navigateTo('contact/1')">
											
											<div class="col-xs-4 text-left">120855-01</div>
											<div class="col-xs-4 text-center">Pusteblume Sound</div>
											<div class="col-xs-4"></div>
										</div>
										<div class="list-group-item row" ng-click="services.tools.navigateTo('contact/1')">
												
											<div class="col-xs-4 text-left">160833-01</div>
											<div class="col-xs-4 text-center">ComiCon 2017</div>
											<div class="col-xs-4"></div>
										</div>
										-->
										<div class="list-group-item row" ng-repeat="row in getProduct.supplier | orderBy : 'position'" ng-click="services.tools.navigateTo(row.contact._ref_contact)" >
											
											<div class="col-xs-4 text-left link">{{row.contact.supplier_no}}</div>
											<div class="col-xs-4 text-center link">{{row.contact.name}}</div>
											<div class="col-xs-4"></div>
										</div>
										
									</div>
								
								
							</div>
							<!--
							<div uib-accordion-group is-open="acc_group4.open">
									
										<uib-accordion-heading>
											
											<div class="row"  >
												
												<div class="col-xs-4 text-left"></div>
												<div class="col-xs-4 text-center panelHeader">Dateiablage</div>
												<div class="col-xs-4 text-right" ><span ng-class="{'glyphicon glyphicon-chevron-down': acc_group4.open, 'glyphicon glyphicon-chevron-right': !acc_group4.open}"></span></div>
												
											
											</div>
											
										</uib-accordion-heading>
										<div class="text-left my-list" >
												
											
												<div class="list-group-item row" >
														
														<div class="col-xs-4 text-left">12.08.2017</div>
														<div class="col-xs-4 text-center">Catering.pdf</div>
														<div class="col-xs-4"></div>
	
													</div>
													<div class="list-group-item row" >
														
														<div class="col-xs-4 text-left">12.08.2017</div>
														<div class="col-xs-4 text-center">Planung.xls</div>
														<div class="col-xs-4"></div>
	
													</div>
													<div class="list-group-item row" >
															
													   
														<div class="col-xs-4 text-left">14.08.2017</div>
														<div class="col-xs-4 text-center">Interview_CEO.mp4</div>
														<div class="col-xs-4"></div>
	
	
													</div>
											
											
										</div>
									
									
								</div>
							-->



								<div uib-accordion-group is-open="acc_group5.open">
										
											<uib-accordion-heading>
												
												<div class="row"  >
													
													<div class="col-xs-4 text-left"></div>
													<div class="col-xs-4 text-center panelHeader">Notizen</div>
													<div class="col-xs-4 text-right" ><span ng-class="{'glyphicon glyphicon-chevron-down': acc_group5.open, 'glyphicon glyphicon-chevron-right': !acc_group5.open}"></span></div>
													
												
												</div>
												
											</uib-accordion-heading>
											<div class="text-left my-list" >
													
												<div class="list-group-item row" >
													
													<div class="col-xs-12" style="height:200px">

														{{getProduct.notes}}		

													</div>
													
												</div>
												
												
												
											</div>
										
										
									</div>
								
			</uib-accordion>
		</div>
		
	</div>
	</main>
</div>