    <div class="modal-header text-center">
            <h3 class="modal-title">Historie</h3>
    </div>
    
    <form class="form-horizontal" role="form">
        <div class="modal-body">
            
            <input type="search" class="form-control text-center e-txtbox2 edit-text2"  placeholder="Stichwort"   /> 
            <br>
            <textarea class="form-control e-txtarea edit-textarea" rows="5"  placeholder="Beschreibung"></textarea>	    
                
        </div>
             
        <div class="modal-footer">
            <div class="row">
                 
                 <div class="col-xs-6 text-left">
                     <button class="my-act-btn" ng-click="cancel()" >Abbrechen</button>
                 </div>
                 <div class="col-xs-6 text-right">
                    <button class="my-act-btn" ng-click="ok()" >OK</button>
                </div>
            </div>
            
        </div>
    </form>
    