<div class="modal-header text-center">
    <h3 class="modal-title">Personal</h3>
</div>

<form class="form-horizontal" role="form">
    <div class="modal-body">
        
        <div class="text-left my-list" >
            
            <div class="list-group-item row my-list-header" >
                
                <div class="col-xs-6"><b>Service</b></div>
                <div class="col-xs-6"><b>Person</b></div>
                
            </div>
            <div class="list-group-item row" >
                
                <div class="col-xs-6">Aufbau</div>
                <div class="col-xs-6">Peter Mayer</div>
                
            </div>
            <div class="list-group-item row" >
                
                <div class="col-xs-6">Abbau</div>
                <div class="col-xs-6">John Mayer</div>
                
            </div>
           
            
        </div>
         
         
               
    </div>
    <div class="modal-footer">
        <div class="row">
             
             <div class="col-xs-6 text-left">
                 <button class="my-act-btn" ng-click="cancel()" >Abbrechen</button>
             </div>
             <div class="col-xs-6 text-right">
                <button class="my-act-btn" ng-click="ok()" >OK</button>
            </div>
        </div>
        
    </div>
</form>
