
<div class="col-xs-4 text-left" ng-controller="modalPrefCtrl"><i class="glyphicon glyphicon-cog pointer" style="font-size: 28px;" ng-click="open()" ng-if="showPreferences"></i></div>
<div class="col-xs-4 text-center"><img ng-click="services.tools.navigateTo('/home')" src="Assets/img/icons/epimobilelogo.png" class="epiMobileLogo"></div>
<div class="col-xs-4 text-right" ng-controller="loginController"><i class="glyphicon glyphicon-off pointer" style="font-size: 28px;" ng-click="logOut()" ></i></div>


<!--
<div class="col-xs-12 text-center" ng-show="services.common.app_settings.showZeitraum">
        <div class="btn-group">
            
                <button type="button" ng-class="{'btn my-group-btn-on ': services.common.app_settings.dailyDropMode, 'btn my-group-btn-off': !services.common.app_settings.dailyDropMode}"  ng-click="setDailyDropMode(true)" >Heute</button>
                <button type="button" ng-class="{'btn my-group-btn-on ': !services.common.app_settings.dailyDropMode, 'btn my-group-btn-off': services.common.app_settings.dailyDropMode}"  ng-click="setDailyDropMode(false)" >Alles</button>	
            
        </div>
    </div>
-->